%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
  border-radius: 20px;

  cursor: pointer;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
