<section class="contacts">
    <div class="container">
      <h2 class="">Contacts</h2> 
    <ul class="">
      <ul class="">
          <li class="">
            <b class="">CAFE</b>
            <h3 class="">Chicago</h3>
            <p class="">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="">
            <h3 class="">Monday - Friday</h3>
            <span class="">06:00 AM - 10:00 PM</span>
            <h3 class="">Saturday - Sunday</h3>
            <span class="">08:00 AM - 16:00 PM</span>
          </li>
          <li class="">
            <a href="mailto:noreply@envato.com" class=""> noreply@envato.com </a>
            <a href="tel:+610383766284" class=""> +61(0) 383 766 284 </a>
          </li>
      </ul>
    <ul class="">
        <li class="">
            <b class="">FOOD TRUCK</b>
            <h3 class="">Los Angeles</h3>
            <p class="">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <li class="">
            <h3 class="">Monday - Friday</h3>
            <span class="">06:00 AM - 10:00 PM</span>
            <h3 class="">Saturday - Sunday</h3>
            <span class="">08:00 AM - 16:00 PM</span>
        </li>
        <li class="">
            <a href="mailto:noreply@envato.com" class=""> noreply@envato.com </a>
            <a href="tel:+610383766284" class=""> +61(0) 383 766 284 </a>
        </li>
    </ul>
    <ul class="">
        <li class="">
            <b class="">CAFE</b>
            <h3 class="">New York</h3>
            <p class="">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <li class="">
            <h3 class="">Monday - Friday</h3>
            <span class="">06:00 AM - 10:00 PM</span>
            <h3 class="">Saturday - Sunday</h3>
            <span class="">08:00 AM - 16:00 PM</span>
        </li>
        <li class="">
            <a href="mailto:noreply@envato.com" class=""> noreply@envato.com </a>
            <a href="tel:+610383766284" class=""> +61(0) 383 766 284 </a>
        </li>
    </ul>
    </ul>
   
    <div class="">
        <button type="button" class="button-contacts-main">
            <span>Our Locations</span>
            <svg height="8" width="10" class="button__pointer">
                <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
    
        <button type="button" class="button-contacts-second">
            <span>Franchise</span>
            <svg height="8" width="10" class="button__pointer">
                <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</div>
</section>
