<section class="customer-reviews">
    <div class="container">
        <h2 class="hidden">Отзывы</h2>
        <ul class="customer-reviews__slider">
            <li class="customer-reviews__item">
                <picture class="customer-reviews__photo">
                    <source srcset="./images/customer/testimonials1.webp 1x, ./images/customer/testimonials1@2x.webp 2x"
                        media="(min-width: 85px)" type="image/webp" />
                    <source srcset="./images/customer/testimonials1.png 1x, ./images/customer/testimonials1@2x.png 2x"
                        media="(min-width: 85px)" type="image/png" />
                    <img src="./images/customer/testimonials1.png" Width="85px" height="85px" alt="Фото Емили" />
                </picture>
                <div class="customer-reviews__thumb">
                    <p class="customer-reviews__descr">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                        risus.</p>
                </div>
                <div class="customer-rewiews__meta">
                    <p class="customer-reviews__name">Emily, Los Angeles</p>
                </div>
            </li>
        </ul>
        <div class="customer-reviews__pag">
            <picture class="customer-reviews__photo">
                <source
                    srcset="./images/icons/png/customer_points_2.webp 1x, ./images/icons/png/customer_points_2@2x.webp 2x"
                    media="(min-width: 73px)" type="image/webp" />
                <source
                    srcset="./images/icons/png/customer_points_2.png 1x, ./images/icons/png/customer_points_2@2x.png 2x"
                    media="(min-width: 85px)" type="image/png" />
                <img src="./images/icons/png/customer_points_2.png" Width="73px" height="12px"
                    alt="Пагинация слайдера" />
            </picture>
        </div>
    </div>
</section>