<!-- Шапка -->
<header class="header">
  <div class="header__panel">
    <a class="logo header__logo" href="./index.html"
      ><img src="./images/icons/svg/logo.svg" alt="Лого Мороженое"
    /></a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link current" href="">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="">About us</a></li>
        <li class="nav__item"><a class="nav__link" href="">How it’s made?</a></li>
        <li class="nav__item"><a class="nav__link" href="">Our products</a></li>
        <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
      </ul>
    </nav>

    <button type="button" class="button-header">
      <span>Buy now</span>
      <svg height="8" width="10" class="button__pointer">
        <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
      </svg>
    </button>

    <button class="mobile-menu__btn" data-menu-button>
      <svg class="menu-btn__icon" width="20" height="12">
        <use class="menu-btn__close" href="./images/icons/svg/sprite.svg#icon-close"></use>

        <use class="menu-btn__icon-menu" href="./images/icons/svg/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <button type="button" class="button-header">
      <span>Buy now</span>
      <svg height="8" width="10" class="button__pointer">
        <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
      </svg>
    </button>

    <ul class="mobile-menu__list">
      <li class="item mobile-menu__item">
        <a href="./hero" class="link mobile-menu__link mobile-menu__link--accent">Home</a>
      </li>
      <li class="item mobile-menu__item">
        <a href="./products.html.html" class="link mobile-menu__link">About us</a>
      </li>
      <li class="item mobile-menu__item mobile-menu__item">
        <a href="./about.html" class="link mobile-menu__link">How it’s made?</a>
      </li>
      <li class="item mobile-menu__item">
        <a href="./contacts.html" class="link mobile-menu__link">Our products</a>
      </li>
      <li class="item mobile-menu__item">
        <a href="./contacts.html" class="link mobile-menu__link">Contact</a>
      </li>
    </ul>
  </div>
  <script src="./js/modal.js"></script>
</header>

<!-- <section class="hero">
  <div>
    <div>
      <h1>ice cream made with passion</h1>
      <button class="btn">Products</button>
      <button>How it’s made?</button>
    </div>
    <div>
      <h2>16</h2>
      <p>cafes</p>
      <h2>23</h2>
      <p>food trucks</p>
    </div>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button class="btn"></button>
  </div>
</section> -->
