<header class="header">
  <div class="header__panel">
    <a href="./index.html" lang="en" class="logo header__logo"
      ><img src="./images/icons/svg/logo.svg" alt="Лого Мороженое"
    /></a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link current" href="#hero">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
        <li class="nav__item"><a class="nav__link" href="#advantages">How it’s made?</a></li>
        <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
      </ul>
    </nav>

    <button class="mobile-menu__btn" data-menu-button>
      <svg class="menu-btn__icon" width="40" height="40">
        <use class="menu-btn__close" href="./images/icons/svg/sprite.svg#icon-close"></use>
        <use class="menu-btn__icon-burger" href="./images/icons/svg/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <button data-modal-open type="button" class="button-header">
      <span>Buy now</span>
      <svg height="8" width="10" class="button__pointer">
        <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</header>
