<!-- Шапка -->
<header class="hero-header">
  <div class="container">
    <a class="logo header__logo" href="./index.html"
      ><img src="./images/icons/svg/logo.svg" alt="Лого Мороженое"
    /></a>

    <nav class="header__nav">
      <ul class="header__list">
        <li class="item"><a class="link" href="">Home</a></li>
        <li class="item"><a class="link" href="">About us</a></li>
        <li class="item"><a class="link" href="">How it’s made?</a></li>
        <li class="item"><a class="link" href="">Our products</a></li>
        <li class="item"><a class="link" href="">Contact</a></li>
      </ul>
      <a href="">Buy now</a>
    </nav>
  </div>

  <!-- <button class="mobile-menu__btn" data-menu-button>
    <svg class="menu-btn__icon" width="40" height="40">
      <use class="menu-btn__close" href="./images/icons.svg/sprite.svg#close"></use>

      <use class="menu-btn__icon-menu" href="./images/icons.svg/sprite.svg#icon-menu"></use>
    </svg>
  </button> -->
</header>

<!-- <section class="hero">
  <div>
    <div>
      <h1>ice cream made with passion</h1>
      <button class="btn">Products</button>
      <button>How it’s made?</button>
    </div>
    <div>
      <h2>16</h2>
      <p>cafes</p>
      <h2>23</h2>
      <p>food trucks</p>
    </div>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button class="btn"></button>
  </div>
</section> -->
