<div class="products">
  <button type="button" class="button-products">Products</button>

  <button type="button" class="button-how">How it’s made?</button>

  <button type="button" class="button-header">
    <span>Buy now</span>
    <svg height="8" width="10" class="button__pointer">
      <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
    </svg>
  </button>

  <button type="button" class="button-arrow">
    <picture>
      <source
        srcset="./images/icons/png/button_arrow.webp 1x, ./images/icons/png/button_arrow@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="./images/icons/png/button_arrow.png 1x, ./images/icons/png/button_arrow@2x.png 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />

      <img
        src="./images/icons/png/button_arrow.png"
        width="40"
        height="40"
        alt="Игорь Демьяненко"
      />
    </picture>
  </button>

  <button type="button" class="button-hero-arrow">
    <picture>
      <source
        srcset="./images/icons/png/button_arrow.webp 1x, ./images/icons/png/button_arrow@2x.webp 2x"
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="./images/icons/png/button_arrow.png 1x, ./images/icons/png/button_arrow@2x.png 2x"
        media="(min-width: 768px)"
        type="image/webp"
      />

      <img
        src="./images/icons/png/button_arrow.png"
        width="18"
        height="18"
        alt="Игорь Демьяненко"
      />
    </picture>
  </button>

  <button type="button" class="button-advantages">
    <span>Read more</span>
    <svg height="8" width="10" class="button__pointer">
      <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
    </svg>
  </button>

  <button type="button" class="button-contacts-main">
    <span>Our Locations</span>
    <svg height="8" width="10" class="button__pointer">
      <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
    </svg>
  </button>

  <button type="button" class="button-contacts-second">
    <span>Franchise</span>
    <svg height="8" width="10" class="button__pointer">
      <use href="./images/icons/svg/sprite.svg#icon-arrow"></use>
    </svg>
  </button>
</div>
