<div class="products">
  <button type="button" class="button-products">Products</button>

  <button type="button" class="button-how">How it’s made?</button>

  <button type="button" class="button-header">
    <span>Buy now</span>
    <svg height="8" width="4.43" class="button__pointer">
      <use href=""></use>
    </svg>
  </button>

  <button type="button" class="button-arrow"></button>

  <button type="button" class="button-hero-arrow"></button>

  <button type="button" class="button-advantages">
    <span>Read more</span>
    <svg height="8" width="4.43" class="button__pointer">
      <use href=""></use>
    </svg>
  </button>

  <button type="button" class="button-contacts-main">
    <span>Read more</span>
    <svg height="8" width="4.43" class="button__pointer">
      <use href=""></use>
    </svg>
  </button>

  <button type="button" class="button-contacts-second">
    <span>Franchise</span>
    <svg height="8" width="4.43" class="button__pointer">
      <use href=""></use>
    </svg>
  </button>
</div>
