.product {
  background-color: #c4c4c4;
}

.button__pointer {
  margin-left: 12px;
}

.button-arrow {
  border-color: transparent;
  background-color: transparent;

  cursor: pointer;
}

.button-hero-arrow {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;

  // тут будет фоновое изображение background-image: ;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.button-header {
  @extend %button;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  width: 159px;
  height: 44px;

  color: var(--accent-color);
  background-color: var(--primary-color);
  stroke: var(--accent-color);

  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: var(--hover-light-button-bg);
  }
}

.button-products {
  @extend %button;
  color: var(--primary-color);
  background-color: var(--accent-color);
  font-size: 8px;
  line-height: 1.25;

  width: 63px;
  height: 24px;

  &:hover,
  &:focus {
    background-color: var(--hover-dark-button-bg);
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
    width: 104px;
    height: 40px;
  }
}

.button-how {
  @extend %button;

  font-size: 8px;
  line-height: 1.25;

  width: 83px;
  height: 24px;

  color: var(--accent-color);
  background-color: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--hover-light-button-bg);
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
    width: 138px;
    height: 40px;
  }
}

.button-advantages {
  @extend %button;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  width: 176px;
  height: 44px;

  color: var(--accent-color);
  background-color: var(--primary-color);

  stroke: var(--accent-color);

  &:hover,
  &:focus {
    background-color: var(--hover-light-button-bg);
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.button-contacts-main {
  @extend %button;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  width: 161px;
  height: 44px;

  color: var(--primary-color);
  background-color: var(--accent-color);

  stroke: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--hover-dark-button-bg);
  }

  @media screen and (min-width: 768px) {
    width: 191px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 198px;
    height: 44px;
  }
}

.button-contacts-second {
  @extend %button;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  width: 161px;
  height: 44px;

  color: var(--accent-color);
  background-color: var(--primary-color);

  stroke: var(--accent-color);

  &:hover,
  &:focus {
    background-color: var(--hover-light-button-bg);
  }

  @media screen and (min-width: 768px) {
    width: 174px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 44px;
  }
}
