div.scrollup {
  position: fixed;
  background-color: var(--hover-dark-button-bg);
  right: 20px;
  bottom: 20px;
  padding-top: 4px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  text-align: center;
}
div.scrollup:hover {
  background-color: var(--product-card-bg);
}

.button-up {
  fill: var(--primary-color);
}
