.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  // display: flex;
  // flex-direction: column;

  width: 100%;
  height: 100vh;
  padding-top: 60px;
  // padding: 60px 123px 703px 24px;
  background-color: #e17992;
  transition: 0.5s;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;

  &.is-open {
    left: 0;
  }
}

.mobile-menu__btn {
  position: absolute;
  display: inline-flex;
  top: 23px;
  right: 34px;
  margin: 0;
  padding: 0;
  z-index: 100;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;

  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    top: 55px;
    right: 230px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu-btn__icon {
}

.menu-btn__close {
  display: none;

  width: 14px;
  height: 14px;
  stroke: var(--primary-color);

  .is-open & {
    display: block;
  }
}
.menu-btn__icon-burger {
  width: 20px;
  height: 12px;
  stroke: var(--accent-color);
}

.is-open .menu-btn__icon-burger {
  width: 20px;
  height: 12px;
  stroke: var(--accent-color);
  display: none;
}

.mobile-menu__btn:hover .menu-btn__icon,
.mobile-menu__btn:focus .menu-btn__icon {
  fill: var(--accent-color);
}

.mobile-menu__list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--primary-color);
  margin-top: 19px;
  margin-bottom: 32px;
}

.mobile-menu__item {
  border: 1px solid #e18298;

  height: 42px;
  padding-top: 20px;
}

.mobile-menu__link {
  margin-left: 21px;
}

.mobile-menu__link--accent {
  color: var(--accent-color);
}
.mobile-menu .button-header {
  display: block;
  margin: 0 auto;
}
